.container {
    text-align: center;
}
.container > .item {
    padding: 10px;
    display: inline;
}

.container > .item.first {
    background: yellow;
    color: white;
}

.container > .item.second {
    background: blue;
    color: white;
}

.container > .item.third {
    background: red;
    color: white;
}

h3 {
    text-align: center;
    background-color: wheat;
}